/*遊玩畫布*/
.canva{
    width: 100%;
    height: 100%;
    background-color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* ------------------------------------------------------------------*/
/* 選歌環形歌單的父層 */
.Menu {
  position: absolute;
  inset: 50%;     /*上下左右50%*/
  transform: translate(-50%, -50%);
}

/* 旋轉定位每個 Avatar=歌曲 */
.mgCardsWrapper {
    position: absolute;
    /* top: var(--top); */
    /* left: var(--left); */
    top: -80px;
    left: -80px;
    /*         旋轉角度             往外推開 140px 距離     保持圖片正向  */
    transform: rotate(var(--angle)) translate(250px) rotate(calc(90deg));
    /* transform:  translate(-50%, -50%) ; */
    transition: transform 0.3s ease;
}

/* 選歌表單中，每張card中央的圓形 */
.certenCircle {
  background-color: rgba(0, 0, 0, 0.8) ;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid rgb(209, 209, 209); /* 邊框 */
  pointer-events: none; /* 穿透點擊 */
}
/* 選歌表單中，每張card在滑鼠觸碰下card中央的圓形也放大(設定父子關係) */
.mgCardsWrapper:hover .certenCircle {
  transform: translate(-50%, -50%) scale(1.3) ; 
  transition: transform 0.5s ease; 
}
/*選歌表單中，每張card*/
.mgCards{
    transition: all 0.5s ease-in-out;
}
/*選歌表單中，每張card在滑鼠觸碰下*/
.mgCards:hover {
    animation: spin 20s linear infinite;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3) ;
}
@keyframes spin {
    from {
        transform: scale(1.3) rotate(0deg); 
    }

    to {
        transform:  scale(1.3) rotate(360deg);
    }
}
/*選歌表單中，每張圖片*/
.mgImg{
    width: 100%;
    object-fit: cover;
}


/*選歌後，展示的歌曲圖片*/
.showChoseSong {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*選歌菜單的上下一頁按鈕*/
.MenuPageSwitchBottom{
    position: fixed;
    top: 10vw;
    left: 50vh;
    transform: translate(-50%, -50%);
}

/* -------------------------------------------------------------------------*/