/*遊玩畫布*/
.canva{
    height: 80vh;
    width: 50vw;
    background-color: black;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*測試-控制音符位置的滑條*/
.slider{
    position: fixed;
    top: 6%;
    left: 1%;
    width: 20vw;
}


/*選歌表單中，每張圖片*/
.mgImg{
    width: 100%;
    height: 300px;
    object-fit: cover;
}


/*選歌表單中，每張card*/
.mgCards{
    transition: all 0.3s ease-in-out;
}
/*選歌表單中，每張card在滑鼠觸碰下*/
.mgCards:hover {
  transform: translateY(15px);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3) !important;
}